[Unit]
Description=pihidproxy - Bluetooth to USB HID bridge
After=bluetooth.target

[Service]
Type=simple
WorkingDirectory=REPODIR
ExecStartPre=/bin/bash REPODIR/setuphid.sh
ExecStartPre=/bin/bash REPODIR/pair.sh
ExecStart=/usr/bin/python3 REPODIR/keys.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
